<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <th:block th:replace="fragments/fragments::agencyhead">
    </th:block>
</head>

<body id="page-top">

<nav th:replace="fragments/fragments::rrnav"></nav>
<span sec:authorize="isAnonymous()">
         <header th:replace="fragments/fragments::pageheader"></header>
    </span>

<span sec:authorize="isAuthenticated()">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                    <h1>Add Organization</h1>
                    </div>

               </div>
              <form th:action="@{/addjob}" th:object="${newjob}" method="post">
                        <input type="hidden" th:field="*{id}">
                        <span th:if="${#fields.hasErrors('jobTitle')}" th:errors="*{jobTitle}"></span>
                        <input type="text" th:field="*{jobTitle}">
                        <select th:field="*{jobOrg}">
                            <option th:each="eachOrg:${organizations}" th:value="${eachOrg.id}" th:text="${eachOrg.orgName}" th:selected="*{jobOrg}"></option>
                        </select>
                        <input type="submit" value="Add">

                </form>

        </section>
    </span>

<span th:replace="fragments/fragments::agencyjs"></span>
</body>
</html>