<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <th:block th:replace="fragments/fragments::agencyhead">
    </th:block>
</head>

<body id="page-top">
    <header th:replace="fragments/fragments::agencyhead"></header>

    <nav th:replace="fragments/fragments::rrnav"></nav>

    <header th:replace="fragments/fragments::pageheader"></header>

    <span th:replace="fragments/fragments::agencyjs"></span>
</body>
</html>