<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:replace="fragments/fragments::agencyhead">
    </th:block>
</head>

<body id="page">

<nav th:replace="fragments/fragments::rrnav"></nav>

<div class="container">
<span th:if="!${inmemory}">
    <section>
    <form th:action="@{/profile}" th:object="${currentuser}" method="post">

        <h1>Edit Profile details</h1>

        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{username}">
        <input type="hidden" th:field="*{password}">

       <span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
        <label for="username">Username</label>
        <h2 sec:authentication="name">Username</h2>
        <br/>

        <h3>Personal details</h3>
        <!--<span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>-->
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" th:field="*{firstName}">

        <!--<span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>-->
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" th:field="*{lastName}">


        <label for="email">Email</label>
         <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        <input type="text" class="form-control" th:field="*{email}">

        <label for="image">Image</label>
        <span th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></span>
        <input type="text" class="form-control" th:field="*{image}">





        <input type="submit" value="Add">
    </form>
    </section>
</span>


<section>
    <span th:if="${inmemory}" th:inline="text">You cannot complete this user's profile. The user is authenticated in memory.</span>
</section>
</div>

<span th:replace="fragments/fragments::bootstrap4js"></span>
</body>
</html>