<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <th:block th:replace="fragments/fragments::agencyhead">
    </th:block>
</head>

<body id="page-top">
    <nav th:replace="fragments/fragments::rrnav"></nav>
    <div class="container">
        <section>

                <span th:if="!${inMemory}" sec:authorize="hasAuthority('APPLICANT')">
                <div th:replace="fragments/displayresume::persondetails"></div>
                </span>

            <span th:replace="fragments/displayresume::experience"></span>

            <span th:replace="fragments/displayresume::experience"></span>

            <span th:replace="fragments/displayresume::education"></span>

            <span th:replace="fragments/displayresume::skill"></span>
        </section>
    </div>

    <span th:replace="fragments/fragments::agencyjs"></span>
</body>
</html>